:root {
  --primary: #e9c46a;
  --secondary: #f0f0f0;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: monospace;
}
.nav-bar{
  background:#2a9d8f;
  height: 80px;
  width: 100%;
  top: 0;
  overflow: hidden;
  position: fixed;
}

.main{
  margin-top: 80px;
}

label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
.nav-bar ul{
  float: right;
  margin-right: 20px;
}
.nav-bar ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
.nav-bar ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active, a:hover{
  background: #34beae;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

body {
  overflow-x: hidden;
  font-family: sans-serif;
}
.button {
  background: var(--primary);
  color: rgb(24, 21, 21);
  padding: 6px 12px;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  display: inline-block;
}
.button:hover {
  color: #333;
  background: var(--secondary);
  border: 2px solid var(--primary);
}
input,
textarea {
  background: rgba(255, 255, 255, 0.9);
  padding: 10px 16px;
  border-radius: 20px;
  border: 2px solid #d9d8e7;
  color: #272727;
}

h1 {
  color: #fff;
}
h2 {
  color: #fff;
}
h3 {
  color: rgb(107, 107, 107);
}
h4 {
  color: rgb(107, 107, 107);
}
p,
a,
li {
  color: rgb(107, 107, 107);
}

/*Font size*/

h1 {
  font-size: 1.2em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.1em;
  font-weight: normal;
}
.leading {
  font-size: 0.85em;
  padding-top: 5px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
}

#welcome {
  padding: 0px 20px 20px 20px;
  background: rgba(0, 0, 0, 0.2) url("https://icecube-eu-288.icedrive.io/thumbnail?p=dwiEDSYKNHyOP11llri84WzF88NgMJC9T8Wkh8rnSeSxSsOzyr9JXm.Kz8uTKLwylvUgBU6_JYVO9WRguxD0y2JjIueBzPUfljoMuTeVKtLgvTAHvNnEiQj9Tev8ouoq&w=1024&h=1024&m=cropped");
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 2px 3px 4px rgba(0, 0, 0, 0.05);
}
.welcome-text {
  grid-column: 1/6;
  align-self: center;
  justify-self: start;
  padding-top: 150px;
}

#about {
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.05);
}

#about h3 {
  text-align: center;
  padding: 20px 0px 0px 0px;
}
#about p {
  text-align: center;
  padding: 20px 20px 40px 20px;
}

#skills {
  padding: 10px 10px 10px 10px;
  grid-column: 1/9;
  box-shadow: 1px 2px 3px 4px rgba(0, 0, 0, 0.05);
}

#skills h3 {
  text-align: center;
}
#skills ul {
  margin: 40px 0;
  list-style: none;
}
#skills li {
  padding: 10px;
  background: rgba(71, 65, 65, 0.15);
  grid-column: span 4;
  text-align: center;
  box-shadow: 1px 2px 3px 4px rgba(0, 0, 0, 0.05);
}
#skills img {
  height: 65px;
  margin: 10px auto;
}

#portfolio {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 30px 20px;
  box-shadow: 1px 2px 3px 4px rgba(0, 0, 0, 0.05);
}
#portfolio h3 {
  margin-bottom: 0;
  text-align: center;
}
.projects a {
  grid-column: 1/9;
  margin: 20px 0;
  display: flex;
}
.projects a * {
  margin: 0 20px;
  max-width: 50%;
  align-self: center;
}
.projects h4 {
  color: rgb(218, 218, 218);
}

#contact {
  padding: 30px 20px;
  background: #2a9d8f;
  box-shadow: 1px 2px 3px 4px rgba(0, 0, 0, 0.05);
}
#contact h3,
#contact p {
  text-align: center;
  margin-bottom: 0;
  color: #fff !important;
}
#contact .message-me {
  text-align: center;
  font-size: 23px;
  color: #fff;
}
#contact .contact-info {
  text-align: center;
  padding-bottom: 15px;
}
#contact ul li {
  padding: 3px;
  list-style: none;
  color: #fff;
  padding-bottom: 5px;
}
#contact h3 {
  padding-bottom: 15px;
}
#contact form {
  width: 100%;
  max-width: 400px;
  margin: 0px 20px 0px 20px;
  text-align: center;
    bottom: 10px;
}
#contact input,
#contact textarea {
  width: 100%;
  margin: 10px 0;
}
#contact .button {
  margin-top: 10px;
}

footer {
  padding: 30px 20px;
  background-color: #111;
}
footer .copyright {
  color: #fff;
  grid-column: 1/7;
  font-size: 0.85em;
}
footer .social {
  grid-column: 7/9;
  display: flex;
  justify-content: flex-end;
}
footer li {
  margin: 0 6px;
  list-style: none;
}
footer img {
  width: 20px;
}

@media (min-width: 952px) {
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  .nav-bar ul li a{
    font-size: 16px;
  }
  #skills li {
    padding: 10px;
    background: rgba(71, 65, 65, 0.15);
    grid-column: span 2;
    text-align: center;
    box-shadow: 1px 2px 3px 4px rgba(0, 0, 0, 0.05);
  }
  #contact form {
    width: 100%;
    max-width: 400px;
    margin: 0px 20px 0px 20px;
    text-align: center;
    position: relative;
    left: 35%;
    bottom: 10px;
  }
  #contact h3{
    padding-top: 15px;
  }
}

@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  .nav-bar ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgb(78, 78, 78);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  .nav-bar ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .nav-bar a:hover, .nav-bar a.active{
    background:none;
    color: #2a9d8f;
  }
  #check:checked ~ ul{
    left: 0;
  }
}